.modal.fade(id="feedback" tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				button.modal-close(data-dismiss="modal")
					img(src="/assets/images/close.svg" alt="close")
			.modal-body
				h3.modal-title Бесплатная консультация
				p.modal-sub-title Оставьте свои контакты, опишите тему вопроса и наш менеджер проконсультирует вас в ближайшее время
				form#feedback-modal-form.form(method="POST" action="/")
					.form-group
						input.form-control(type="text" name="name" placeholder="Имя" required)
					.form-group
						input.form-control(type="tel" name="phone" placeholder="Номер телефона" required)
					.form-group
						input.form-control(type="text" name="question" placeholder="Опишите вопрос" required)
					button.custom-btn(type="submit")
						span Отправить заявку