footer.footer
	.container
		.row
			.col-4.col-lg-2
				.footer__content
					a.footer__logo(href="/" data-aos="show-up-20")
						img(src="/assets/images/logo_footer.svg" alt="Logo")
					.footer__socials-wrap.d-flex.d-lg-none(data-aos="show-up-20" data-aos-delay="200" data-aos-anchor=".footer")
						a.footer__social(href="/")
							img(src="/assets/images/instagram.svg" alt="instagram")
						a.footer__social(href="/")
							img(src="/assets/images/facebook.svg" alt="facebook")
			.col-3.d-none.d-lg-block
				.footer__links-wrap(data-aos="show-up-20" data-aos-delay="400" data-aos-anchor=".footer")
					a.footer__link(href="/category.html") Ворота
					a.footer__link(href="/category.html") Автоматика
					a.footer__link(href="/category.html") Роллеты
					a.footer__link(href="/contacts.html") Контакты
			.col-8.col-lg-5
				.footer__contacts-wrap
					.footer__content(data-aos="show-up-20" data-aos-delay="600" data-aos-anchor=".footer")
						a.footer__contact-link(href="tel:8 (965) 763 07 05")
							img(src="/assets/images/call_footer.svg" alt="phone")
							span 8 (965) 763 07 05
						a.footer__contact-link(href="tel:8 (965) 763 07 05")
							img(src="/assets/images/viber.svg" alt="viber")
							span 8 (965) 763 07 05
					.footer__content(data-aos="show-up-20" data-aos-delay="800" data-aos-anchor=".footer")
						a.footer__contact-link(href="mailto:office.hordis@gmail.com")
							img(src="/assets/images/mail_footer.svg" alt="mail")
							span office.hordis@gmail.com
						a.footer__contact-link.mb-0(href="/")
							img(src="/assets/images/geo.svg" alt="geo")
							span г. Одесса, ул. Пушкинская 123
			.col-2.d-none.d-lg-block
				.footer__socials-wrap(data-aos="show-up-20" data-aos-delay="1000" data-aos-anchor=".footer")
					a.footer__social(href="/")
						img(src="/assets/images/instagram.svg" alt="instagram")
					a.footer__social(href="/")
						img(src="/assets/images/facebook.svg" alt="facebook")
			.col-12
				.copyright-wrap
					p.copyright-text(data-aos="show-up-20" data-aos-delay="1200" data-aos-anchor=".footer") Aludis © 2020
					a.copyright-text(href="/" data-aos="show-up-20" data-aos-delay="1400" data-aos-anchor=".footer") by Command+X