header.header
	.container
		.header__row
			.header__actions
				.header__menu.d-flex.d-lg-none(data-aos="show-up-20" data-aos-delay="200")
					span
					span
					span
					span
				a.header__logo(href="/" data-aos="show-up-20" data-aos-delay="400")
					img(src="/assets/images/logo.svg" alt="Logo")
				ul.header__links-list.d-none.d-lg-flex(data-aos="show-up-20" data-aos-delay="600")
					li.header__links-item
						a.header__link(href="/category.html")
							span Ворота
							img.svg(src="/assets/images/link_arrow.svg")
						.header__sub-category-list
							a.header__sub-category-link(href="/") Подкатегория 1
							a.header__sub-category-link(href="/") Подкатегория 2
							a.header__sub-category-link(href="/") Подкатегория 3
							a.header__sub-category-link(href="/") Подкатегория 4
							a.header__sub-category-link(href="/") Подкатегория 5
					li.header__links-item
						a.header__link(href="/category.html")
							span Роллеты
							img.svg(src="/assets/images/link_arrow.svg")
						.header__sub-category-list
							a.header__sub-category-link(href="/") Подкатегория 1
							a.header__sub-category-link(href="/") Подкатегория 2
							a.header__sub-category-link(href="/") Подкатегория 3
							a.header__sub-category-link(href="/") Подкатегория 4
							a.header__sub-category-link(href="/") Подкатегория 5
					li.header__links-item
						a.header__link(href="/category.html")
							span Автоматика
							img.svg(src="/assets/images/link_arrow.svg")
						.header__sub-category-list
							a.header__sub-category-link(href="/") Подкатегория 1
							a.header__sub-category-link(href="/") Подкатегория 2
							a.header__sub-category-link(href="/") Подкатегория 3
							a.header__sub-category-link(href="/") Подкатегория 4
							a.header__sub-category-link(href="/") Подкатегория 5
					li.header__links-item
						a.header__link(href="/contacts.html")
							span Контакты
				a.header__call.d-flex.d-lg-none(href="tel: +38 (096) 320 12 99" data-aos="show-up-20" data-aos-delay="600")
					img.svg(src="/assets/images/call_mobile.svg" alt="Feedback")
			.header__actions.d-none.d-lg-flex
				a.header__call(href="mailto:office.hordis@gmail.com" data-aos="show-up-20" data-aos-delay="800")
					img.svg(src="/assets/images/mail.svg" alt="Mail")
					span office.hordis@gmail.com
				a.header__call(href="tel: +38 (096) 320 12 99" data-aos="show-up-20" data-aos-delay="1000")
					img.svg(src="/assets/images/call.svg" alt="Mail")
					span +38 (096) 320 12 99