doctype html
html(lang="en")
  head
    block vars
    meta(charset="UTF-8")
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1")
    link(rel="preload" href="https://cdnjs.cloudflare.com")
    link(rel="preload" href="/assets/fonts/ProximaNova-Bold.woff" as="font" type="font/woff")
    link(rel="preload" href="/assets/fonts/ProximaNova-Regular.woff" as="font" type="font/woff")
    link(rel="preload" href="/assets/fonts/ProximaNova-Semibold.woff" as="font" type="font/woff")
    link(rel="preload" href="/assets/fonts/ProximaNova-Bold.eot" as="font" type="font/eot")
    link(rel="preload" href="/assets/fonts/ProximaNova-Regular.eot" as="font" type="font/eot")
    link(rel="preload" href="/assets/fonts/ProximaNova-Semibold.eot" as="font" type="font/eot")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" crossorigin="anonymous"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" crossorigin="anonymous"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" crossorigin="anonymous"
      integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous")
    link(rel="icon" href="favicon.ico" type="image/x-icon")

    script(type="application/ld+json").
      {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "vorota",
        "item": "http://aludis.comnd-x.com/category/vorota/"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "rollety",
        "item": "http://aludis.comnd-x.com/category/rollety/"
        },{
        "@type": "ListItem",
        "position": 3,
        "name": "avtomatika",
        "item": "http://aludis.comnd-x.com/category/avtomatika/"
        },{
        "@type": "ListItem",
        "position": 4,
        "name": "kontakty",
        "item": "http://aludis.comnd-x.com/kontakty/"
        }]
      }
    script(type="application/ld+json").
      {
        "@type": "Organization",
        "@context": "https://schema.org",
        "url": "http://aludis.comnd-x.com",
        "logo": "http://aludis.comnd-x.com/wp-content/themes/aludis_theme/assets/images/logo.svg"
      }
    script(type="application/ld+json").
      {
        "name": "Aludis",
        "@id": "http://aludis.com.ua",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "с. Лиманка, ЖМ Черноморка-2, ул. Овидиопольская 1/21",
          "addressLocality": "Ukraine",
          "addressRegion": "UA",
          "postalCode": "65000",
          "addressCountry": "UA"
        },
        "@context": "https://schema.org",
        "@type": "Organisation",
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 46.447387,
          "longitude": 30.6464166
        },
        "url": "http://aludis.com.ua/kontakty/",
        "telephone": "+38 (068) 607 81 47",
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ],
            "opens": "09:00",
            "closes": "18:00"
          }
        ]
      }

body
    include header

    block content

    include footer

    include menu

    include feedback

    include success

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" crossorigin="anonymous"
      integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" crossorigin="anonymous"
      integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.min.js" crossorigin="anonymous"
      integrity="sha512-DVfS/GbZzLMmxBL/CW92N84eHP2Fq9d+r9RKbvctcvzISVfu+WvD+MCvbK9j8I6nVLrntGo3UUVrNFUDX0ukBw==")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" crossorigin="anonymous"
      integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==")