.global-menu
	ul.global-menu__links-list
		li.global-menu__links-item
			.global-menu__link
				a(href="/category.html") Ворота
				img(src="/assets/images/link_arrow.svg" alt="link")
			.global-menu__sub-wrap
				.global-menu__sub-list
					a.global-menu__sub-link(href="/") Подкатегория 1
					a.global-menu__sub-link(href="/") Подкатегория 2
					a.global-menu__sub-link(href="/") Подкатегория 3
		li.global-menu__links-item
			.global-menu__link
				a(href="/category.html") Роллеты
				img(src="/assets/images/link_arrow.svg" alt="link")
			.global-menu__sub-wrap
				.global-menu__sub-list
					a.global-menu__sub-link(href="/") Подкатегория 1
					a.global-menu__sub-link(href="/") Подкатегория 2
					a.global-menu__sub-link(href="/") Подкатегория 3
		li.global-menu__links-item
			.global-menu__link
				a(href="/category.html") Автоматика
				img(src="/assets/images/link_arrow.svg" alt="link")
			.global-menu__sub-wrap
				.global-menu__sub-list
					a.global-menu__sub-link(href="/") Подкатегория 1
					a.global-menu__sub-link(href="/") Подкатегория 2
					a.global-menu__sub-link(href="/") Подкатегория 3
		li.global-menu__links-item
			.global-menu__link
				a(href="/contacts.html") Контакты
	a.global-menu__contact-link(href="mailto:office.hordis@gmail.com")
		img(src="/assets/images/mail_footer.svg" alt="mail")
		span office.hordis@gmail.com