.modal.fade(id="success" tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				button.modal-close(data-dismiss="modal")
					img(src="/assets/images/close.svg" alt="close")
			.modal-body
				h3.modal-title Спасибо, заявка принята!
				p.modal-sub-title Наш менеджер свяжется с вами для дальнейшей консультации по интересующему вас вопросу в ближайшее время. Благодарим за доверие!