.breadcrumb {
  padding: 0;
  margin: 15px 0;
  border-radius: 0;
  display: inline-flex;
  background-color: transparent;

  @include respond-above(lg) {
    margin: 30px 0;
  }
}

.breadcrumb-item {
  font-size: 14px;
  color: rgba(34, 34, 34, 0.2);
  transition: all 0.4s ease-in-out;

  &:hover {
    color: $accent !important;

    &:before {
      color: $accent !important;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(34, 34, 34, 0.2);
}
