.custom-btn {
  height: 44px;
  display: flex;
  overflow: hidden;
  padding: 10px 30px;
  position: relative;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: $accent;

  &.inverse {
    background-color: #fff;

    span {
      color: $accent;
    }
  }

  &.accent {
    background-color: $accent;
  }

  &:hover {
    &:before {
      transform: translate(0, 0);
    }
  }

  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: '';
    position: absolute;
    transform: translate(0, -100%);
    transition: all 0.4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.15);
  }

  @include respond-above(xl) {
    height: 46px;
  }

  span {
    z-index: 2;
    color: #ffffff;
    position: relative;
    transition: all 0.4s ease-in-out;
  }
}
