.footer {
  overflow: hidden;
  padding-top: 20px;
  background-color: #303030;

  @include respond-above(lg) {
    padding-top: 50px;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-above(lg) {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__logo {
    width: 80px;

    @include respond-above(lg) {
      width: 125px;
    }
  }

  &__socials-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;

    @include respond-above(lg) {
      height: 100%;
      justify-content: flex-end;
    }
  }

  &__social {
    width: 20px;
    height: 20px;
    margin-right: 25px;

    @include respond-above(lg) {
      width: 25px;
      height: 25px;
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__contacts-wrap {
    display: flex;
    flex-direction: column;

    @include respond-above(lg) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__contact-link {
    display: flex;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 12px;
    align-items: center;
    transition: all 0.3s ease-in-out;

    @include respond-above(lg) {
      font-size: 16px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:hover {
      color: $accent;
    }

    img {
      width: auto;
      height: auto;
      margin-right: 5px;

      @include respond-above(lg) {
        margin-right: 10px;
      }
    }
  }

  &__links-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  &__link {
    width: 50%;
    color: #ffffff;
    transition: all 0.3s ease-in-out;

    &:nth-child(1), &:nth-child(2) {
      margin-bottom: 20px;
    }

    &:hover {
      color: $accent;
    }
  }
}

.copyright-wrap {
  display: flex;
  margin-top: 20px;
  padding-top: 12px;
  align-items: center;
  padding-bottom: 13px;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  @include respond-above(lg) {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a {
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 1;
      color: $accent;
    }
  }
}

.copyright-text {
  opacity: 0.3;
  color: #ffffff;
  font-size: 12px;

  @include respond-above(lg) {
    font-size: 14px;
  }
}
