.global-menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  clip-path: inset(0 0 100% 0);
  transition: all 0.4s ease-in-out;

  &.opened {
    clip-path: inset(0 0 0 0);
  }

  &__links-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__links-item {
    margin-bottom: 30px;

    &.toggle {
      .global-menu__link {
        img {
          transform: rotateX(180deg);
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;

    a {
      color: #303030;
      font-size: 26px;

      &:hover {
        color: #303030;
      }
    }

    img {
      width: 15px;
      height: 9px;
      margin-left: 10px;
      transition: all 0.4s ease-in-out;
    }
  }

  &__sub-wrap {
    display: none;
  }

  &__sub-list {
    display: flex;
    margin-top: 25px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__sub-link {
    color: #303030;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $accent;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__contact-link {
    bottom: 30px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    &:hover {
      span {
        color: $accent;
      }
    }

    img {
      width: 20px;
      height: 15px;
      margin-right: 10px;
    }

    span {
      font-size: 16px;
      color: $custom-black;
      transition: all 0.3s ease-in-out;
    }
  }
}
