.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 56px;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);

  @include respond-above(lg) {
    height: 90px;
  }

  .container {
    height: 100%;

    @include respond-above(lg) {
      max-width: 100%;
      padding: 0 80px;
    }
  }

  &__row {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 12px 0 13px;
    justify-content: space-between;

    @include respond-above(lg) {
      padding: 30px 0;
    }
  }

  &__actions {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    justify-content: space-between;

    @include respond-above(lg) {
      flex: 0 0 auto;
    }
  }

  &__menu {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    flex-direction: column;

    @include respond-between(sm, md) {
      width: 36px;
      height: 36px;
    }

    &.menu-opened {
      span {
        &:nth-child(1) {
          opacity: 0;
          transform: translate(-100%, -50%);
        }

        &:nth-child(2) {
          transform: translate(0, -50%) rotate(45deg);
        }

        &:nth-child(3) {
          transform: translate(0, -50%) rotate(-45deg);
        }

        &:nth-child(4) {
          opacity: 0;
          transform: translate(100%, -50%);
        }
      }
    }

    span {
      left: 0;
      right: 0;
      height: 2px;
      width: 24px;
      position: absolute;
      background-color: $accent;
      transition: all 0.3s ease-in-out;

      &:nth-child(1) {
        top: calc(50% - 7px);
        transform: translateY(-50%);
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(4) {
        top: calc(50% + 7px);
        transform: translateY(-50%);
      }
    }
  }

  &__logo {
    width: 115px;

    @include respond-above(lg) {
      margin-right: 60px;
    }
  }

  &__call {
    @include respond-above(lg) {
      display: flex;
      align-items: center;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }

    &:hover {
      span {
        color: $accent;
      }
    }

    svg, img {
      width: 12px;
      height: 24px;

      @include respond-above(lg) {
        width: auto;
        height: auto;
        margin-right: 15px;
      }
    }

    span {
      color: #2b2f32;
      transition: all 0.3s ease-in-out;
    }
  }

  /* DESKTOP */
  &__links-list {
    display: flex;
    align-items: center;

    &>li {
      padding: 35px 0;
      cursor: pointer;
      position: relative;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        .header__sub-category-list {
          opacity: 1;
          clip-path: inset(0 0 0 0);
        }

        a {
          span {
            color: $accent;
          }

          .svg {
            transform: rotateX(180deg);

            path {
              fill: $accent;
            }
          }
        }
      }

      a {
        display: flex;
        align-items: center;

        .svg {
          width: 13px;
          height: 8px;
          margin-left: 10px;
          transition: all 0.35s ease-in-out;

          path {
            transition: all 0.35s ease-in-out;
          }
        }

        span {
          color: #2c2f32;
          font-size: 16px;
          transition: all 0.35s ease-in-out;
        }
      }
    }
  }

  &__sub-category-list {
    left: 0;
    top: 100%;
    opacity: 0;
    display: flex;
    padding: 20px;
    min-width: 320px;
    position: absolute;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    clip-path: inset(0 0 100% 0);
    transition: all 0.4s ease-in-out;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);

    li {
      display: flex;
      color: #878787;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      margin-bottom: 10px;
      align-items: center;
      justify-content: flex-start;
      transition: all 0.35s ease-in-out;

      &:hover {
        color: $accent;

        &:before {
          width: 25px;
        }
      }

      &:before {
        width: 0;
        height: 2px;
        content: '';
        display: block;
        margin-right: 10px;
        background-color: $accent;
        transition: all 0.35s ease-in-out;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
