.modal {
  .modal-dialog {
    margin: 10px;

    @include respond-above(sm) {
      margin: 10px auto;
    }

    @include respond-above(md) {
      max-width: 600px;
    }
  }

  .modal-content {
    border: none;
    border-radius: 0;
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 1);
  }

  .modal-header {
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
    border: none;
    display: flex;
    padding: 0 15px;
    position: absolute;
    justify-content: flex-end;
  }

  .modal-close {
    width: 16px;
    height: 16px;
    outline: none;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 10px 45px;

    @include respond-above(lg) {
      margin: 0 auto;
      padding: 50px 0;
      max-width: 500px;
    }
  }

  .modal-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    margin-bottom: 15px;

    @include respond-above(lg) {
      font-size: 40px;
      line-height: 44px;
    }
  }

  .modal-sub-title {
    line-height: 22px;
    text-align: center;
    margin-bottom: 30px;
    color: rgba(34, 34, 34, 0.55);

    @include respond-above(lg) {
      color: #484847;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .form {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    position: relative;

    @include respond-above(lg) {
      max-width: 380px;
    }
  }

  .form-group {
    margin-bottom: 40px;
  }

  .form-control {
    border: none;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 0;
    color: $custom-black;
    background-color: transparent;
    border-bottom: 1px solid #222222;

    &::placeholder {
      color: rgba(34, 34, 34, 0.5)
    }
  }

  .custom-btn {
    width: 100%;
    border-radius: 0;
    background-color: $accent;
  }
}

.form-error {
  left: 0;
  right: 0;
  width: 100%;
  bottom: -30px;
  display: block;
  color: #fd4040;
  font-size: 12px;
  text-align: center;
  position: absolute;

  @include respond-above(lg) {
    font-size: 14px;
  }
}
