#category-page {
  .breadcrumb {
    @include respond-above(lg) {
      margin: 0 0 25px;
    }
  }

  .breadcrumb-item {
    color: rgba(255, 255, 255, 0.5);
  }

  .breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, 0.5);
  }
}

.category-main-section {
  margin-top: 56px;

  .offset-lg-2 {
    @include respond-above(lg) {
      display: flex;
      align-items: center;
    }
  }

  @include respond-above(lg) {
    height: 590px;
    display: flex;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
  }

  .section-bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;

    &:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
    }

    img {
      object-fit: cover;
    }
  }

  .section-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;

    @include respond-above(lg) {
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 15px;
    }
  }

  .section-sub-title {
    color: #fff;
    line-height: 20px;
    margin-bottom: 30px;

    @include respond-above(lg) {
      line-height: 24px;
      margin-bottom: 35px;
    }
  }

  .custom-btn {
    width: 235px;
    padding: 0 15px;
    margin-bottom: 30px;

    @include respond-above(lg) {
      width: 240px;
      margin-bottom: 0;
    }
  }

  .sub-categories {
    width: 100%;
    display: flex;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.78);

    @include respond-above(lg) {
      padding: 30px;
      margin-bottom: 0;
    }
  }

  .sub-category-link {
    color: #878787;
    font-size: 16px;
    position: relative;
    margin-bottom: 15px;
    transition: all 0.4s ease-in-out;

    @include respond-above(lg) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      top: 50%;
      left: 0;
      width: 0;
      height: 2px;
      content: '';
      position: absolute;
      background-color: $accent;
      transform: translateY(-50%);
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      color: $accent;
      padding-left: 35px;

      &:before {
        width: 25px;
      }
    }
  }
}

.sub-category-section {
  @include respond-above(lg) {
    padding: 100px 0;
  }

  &:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .col-lg-6 {
    @include respond-above(lg) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }

  .col-advantages {
    @include respond-above(lg) {
      margin-top: 60px;
    }
  }

  .sub-category-slider {
    &_big {
      margin-bottom: 30px;

      .sub-category-slider__image {
        height: 220px;

        @include respond-above(lg) {
          height: 400px;
        }
      }
    }

    &_small {
      .sub-category-slider__image {
        height: 100px;
      }
    }

    &__slide {
      padding: 0 15px;
    }

    &__image {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .sub-category {
    &__info {
      margin-top: 30px;
      margin-bottom: 40px;

      @include respond-above(lg) {
        height: 100%;
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 85px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      .custom-btn {
        padding: 0 15px;
        min-width: 180px;
      }
    }

    &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 12px;

      @include respond-above(lg) {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
    }

    &__desc {
      line-height: 24px;
      margin-bottom: 25px;

      @include respond-above(lg) {
        line-height: 24px;
        margin-bottom: 35px;
      }
    }
  }

  .advantage-card {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;

    @include respond-above(lg) {
      margin-bottom: 0;
    }

    &__icon {
      width: 40px;
      height: 40px;
      margin-bottom: 15px;

      @include respond-above(lg) {
        width: 65px;
        height: 65px;
        margin-bottom: 35px;
      }
    }

    &__title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;

      @include respond-above(lg) {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }

    &__desc {
      color: rgba(34, 34, 34, 0.6);

      @include respond-above(lg) {
        font-size: 14px;
      }
    }
  }
}

.consultation-section {
  padding: 30px 0;

  @include respond-above(lg) {
    padding: 100px 0;
  }

  .col-12 {
    @include respond-above(lg) {
      &:nth-child(odd) {
        padding-right: 0;
      }

      &:nth-child(even) {
        padding-left: 0;
      }
    }
  }

  &__info {
    height: 100%;
    display: flex;
    overflow: hidden;
    padding: 30px 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $accent;
    border-radius: 16px 16px 0 0;

    @include respond-above(lg) {
      padding: 50px 60px;
      align-items: flex-start;
      border-radius: 16px 0 0 16px;
    }
  }

  &__title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;

    @include respond-above(lg) {
      font-size: 40px;
      text-align: left;
      line-height: 35px;
      margin-bottom: 20px;
    }
  }

  &__desc {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;

    @include respond-above(lg) {
      text-align: left;
      margin-bottom: 30px;
    }
  }

  &__phone {
    color: #fff;
    display: flex;
    font-size: 20px;
    margin-bottom: 25px;
    transition: all 0.4s ease-in-out;

    @include respond-above(lg) {
      margin-bottom: 35px;
    }

    &:hover {
      color: rgba(34, 34, 34, 0.6);
    }
  }

  &__image {
    height: 200px;
    overflow: hidden;
    border-radius: 0 0 16px 16px;

    @include respond-above(lg) {
      height: 100%;
      border-radius: 0 16px 16px 0;
    }

    img {
      object-fit: cover;
    }
  }

  .custom-btn {
    width: 210px;
  }
}
