#contacts-page {
  padding-top: 56px;

  @include respond-above(lg) {
    padding-top: 90px;
  }

  .breadcrumb {
    @include respond-above(lg) {
      margin-bottom: 55px;
    }
  }

  .feedback-section {
    padding: 40px 15px;

    @include respond-above(lg) {
      padding: 0 15px;
    }

    .section-title {
      font-size: 24px;
      line-height: 44px;
      margin-bottom: 25px;

      @include respond-above(lg) {
        font-size: 44px;
        line-height: 44px;
        margin-bottom: 40px;
      }
    }

    .form {
      max-width: 100%;
    }

    .form-group {
      @include respond-above(lg) {
        margin-bottom: 50px;
      }
    }

    .form-control {
      color: #222222;
      font-size: 18px;
      border-bottom: 2px solid #222222;

      &::placeholder {
        color: rgba(34, 34, 34,  0.2);
      }
    }

    .custom-btn {
      @include respond-above(lg) {
        border-radius: 4px;
      }
    }
  }
}

.contacts-main-section {
  @include respond-above(lg) {
    padding-bottom: 140px;
  }

  .section-title {
    color: #222222;
    font-size: 34px;
    margin-bottom: 10px;

    @include respond-above(lg) {
      font-size: 44px;
      margin-bottom: 40px;
    }
  }

  .contacts-wrap {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: flex-start;

    @include respond-above(lg) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.with-divider {
      padding-bottom: 20px;
      border-bottom: 2px solid #d8d8d8;

      @include respond-above(lg) {
        padding-bottom: 30px;
      }
    }
  }

  .contacts-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start;

    @include respond-above(lg) {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      span {
        color: $accent;
      }
    }

    img {
      width: auto;
      height: 20px;
      max-width: 18px;
      min-width: 18px;
      text-align: left;
      margin-right: 15px;
    }

    span {
      color: #000;
      font-size: 18px;
      transition: all 0.4s ease-in-out;

      @include respond-above(lg) {
        font-size: 24px;
      }
    }
  }

  .contacts-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .social-link {
    width: 25px;
    height: 25px;
    margin-right: 20px;

    &:hover {
      .svg {
        path {
          fill: $accent;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    .svg {
      path {
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

.contacts-map-section {
  .map-wrap {
    height: 340px;

    @include respond-above(lg) {
      height: 484px;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
