#home-page {
  .home-main-section {
    .custom-btn {
      background-color: $accent;
    }
  }

  .feedback-section {
    .custom-btn {
      background-color: $accent;
    }
  }
}

.home-main-section {
  height: 100vh;

  @include respond-above(lg) {
    height: auto;
  }

  .main-slider {
    position: relative;

    .slide {
      position: relative;
    }

    .container {
      left: 0;
      right: 0;
      top: 50%;
      z-index: 5;
      position: absolute;
      transform: translateY(-50%);
    }

    &__image {
      height: 100vh;
      position: relative;

      @include respond-above(lg) {
        height: 790px;
      }

      &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
      }

      img {
        object-fit: cover;
      }
    }

    &__title {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 20px;

      @include respond-above(lg) {
        font-size: 44px;
        max-width: 615px;
        line-height: 44px;
        margin-bottom: 35px;
      }
    }

    &__sub-title {
      color: #ffffff;
      line-height: 20px;
      margin-bottom: 25px;

      @include respond-above(lg) {
        font-size: 18px;
        max-width: 540px;
        line-height: 24px;
        margin-bottom: 45px;
      }
    }
  }

  .slick-dots {
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    bottom: 160px;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
    position: absolute;
    align-items: center;
    justify-content: flex-start;

    @include respond-above(sm) {
      max-width: 540px;
    }

    @include respond-above(md) {
      max-width: 720px;
    }

    @include respond-above(lg) {
      bottom: 20%;
      max-width: 960px;
    }

    @include respond-above(xl) {
      max-width: 1140px;
    }

    li {
      cursor: pointer;
      padding-right: 20px;
      
      &:before {
        width: 1px;
        height: 16px;
        content: '';
        display: block;
        transition: all 0.4s ease-in-out;
        background-color: rgba(255, 255, 255, 0.4);
      }

      &.slick-active {
        &:before {
          width: 2px;
          height: 24px;
          background-color: #fff;
        }
      }

      button {
        display: none;
      }
    }
  }
}

.home-service-section {
  position: relative;
  padding: 40px 0 30px;

  @include respond-above(lg) {
    padding: 20px 0;
  }

  .scroll-wrap {
    display: flex;
    bottom: 100px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    left: calc(((100vw - 1140px) / 2) / 2);

    span {
      opacity: 0.4;
      color: #2c2f33;
      font-size: 12px;
      margin-bottom: 5px;
    }

    img {
      width: 13px;
      height: 23px;
    }
  }

  .container {
    @include respond-above(lg) {
      padding: 0 10px;
      transform: translateY(-80px);
    }

    .col-lg-4 {
      @include respond-above(lg) {
        padding: 0 10px;
      }
    }
  }

  .section-title {
    text-align: center;
    margin-bottom: 25px;
  }

  .home-service-card {
    display: flex;
    position: relative;
    margin-bottom: 10px;

    &:hover {
      .home-service-card__image {
        &:before {
          background-color: rgba(0, 0, 0, 0.75);
        }
      }
    }

    @include respond-above(lg) {
      height: 225px;
      margin-bottom: 0;
      overflow: hidden;
      border-radius: 8px;
    }

    &__image {
      position: relative;

      &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        transition: all 0.4s ease-in-out;
        background-color: rgba(0, 0, 0, 0.5);
      }

      img {
        object-fit: cover;
      }
    }

    &__title {
      top: 50%;
      left: 50%;
      z-index: 2;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      position: absolute;
      transform: translate(-50%, -50%);

      @include respond-above(lg) {
        font-size: 32px;
      }
    }
  }
}

.home-advantage-section {
  padding-top: 30px;
  position: relative;
  background-color: $accent;

  @include respond-above(lg) {
    padding: 70px 0 80px;
  }

  &:after {
    right: 0;
    bottom: 0;
    top: 30px;
    z-index: 1;
    width: 16px;
    content: '';
    position: absolute;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;

    @include respond-above(lg) {
      display: none;
    }
  }

  .container {
    @include respond-above(lg) {
      padding: 0 80px;
      max-width: 2080px;
    }
  }

  .col-lg-3 {
    &:last-child {
      .advantage-card__title {
        @include respond-above(lg) {
          &:before {
            width: calc(100% + 80px);
          }
        }
      }
    }
  }

  .section-title {
    color: #fff;
    margin-bottom: 25px;

    @include respond-above(lg) {
      margin-bottom: 50px;
    }
  }

  .advantage-card {
    margin-bottom: 30px;

    @include respond-above(lg) {
      margin-bottom: 0;
    }

    &__image {
      height: 40px;
      max-width: 40px;
      margin-bottom: 15px;

      @include respond-above(lg) {
        height: 64px;
        max-width: 64px;
        margin-bottom: 20px;
      }
    }

    &__title {
      color: #fff;
      font-size: 22px;
      font-weight: 600;
      position: relative;
      margin-bottom: 10px;

      @include respond-above(lg) {
        display: flex;
        font-size: 26px;
        align-items: flex-start;
        flex-direction: column-reverse;

        &:before {
          top: 0;
          left: 0;
          right: 0;
          content: '';
          height: 2px;
          position: absolute;
          background-color: #fff;
          width: calc(100% + 30px);
        }
      }

      &:after {
        top: 50%;
        right: 0;
        z-index: 1;
        content: '';
        width: 25px;
        height: 2px;
        position: absolute;
        background-color: #fff;
        transform: translateY(-50%);

        @include respond-above(lg) {
          top: 0;
          left: 0;
          width: 2px;
          right: auto;
          height: 27px;
          transform: none;
          position: relative;
          margin-bottom: 10px;
        }
      }
    }

    &__desc {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.home-about-section {
  padding-bottom: 40px;

  @include respond-above(lg) {
    padding: 100px 0;
  }

  .about-image {
    width: 100%;
    margin-bottom: 45px;

    @include respond-above(lg) {
      margin-bottom: 0;
      height: 750px;
      width: calc(100% + ((100vw - 1155px) / 2));
    }

    img {
      object-fit: cover;
    }
  }

  .section-title {
    line-height: 32px;
    margin-bottom: 15px;

    @include respond-above(lg) {
      line-height: 44px;
      margin-bottom: 33px;
    }
  }

  .about-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__desc {
      line-height: 22px;
      margin-bottom: 25px;

      @include respond-above(lg) {
        line-height: 24px;
        max-width: 445px;
        margin-bottom: 50px;
      }
    }
  }

  .custom-btn {
    width: auto;
    display: flex;
    background-color: $accent;
  }
}

.home-stock-section {
  padding-bottom: 40px;

  @include respond-above(lg) {
    padding-bottom: 100px;
  }

  .container {
    @include respond-above(lg) {
      &:before {
        top: 0;
        right: 0;
        left: 15px;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #1f1a4e;
        width: calc(100% + ((100vw - 1185px) / 2));
      }
    }
  }

  .section-title {
    margin-bottom: 20px;

    @include respond-above(lg) {
      margin-bottom: 0;
      margin-top: 35px;
    }
  }

  .stock-slider {
    position: relative;

    .slide {
      display: flex;
      position: relative;
      padding-bottom: 106px;
      flex-direction: column;
      justify-content: space-between;

      @include respond-above(lg) {
        padding-top: 50px;
        position: relative;

        &:before {
          top: 0;
          left: 0;
          width: 2px;
          z-index: 1;
          content: '';
          height: 40px;
          position: absolute;
          background-color: #1f1a4e;
        }
      }
    }

    .slick-track {
      display: flex;
    }

    .slick-list {
      margin: 0 -15px;

      @include respond-above(lg) {
        margin: 0 -20px;
      }
    }

    .slick-slide {
      display: flex;
      height: auto;
      margin: 0 15px;
      transform: scale(0.9);
      transition: all 0.4s ease-in-out 0.5s;

      @include respond-above(lg) {
        margin: 0 20px;
        transform: none;
      }

      &.slick-current {
        transform: scale(1);
      }
    }

    &__image {
      width: 100%;
      overflow: hidden;
      border-radius: 7px;
      margin-bottom: 25px;

      @include respond-above(lg) {
        height: 200px;
      }

      img {
        object-fit: cover;
      }
    }

    &__title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;

      @include respond-above(lg) {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }

    &__desc {
      color: #878787;
      margin-bottom: 20px;

      @include respond-above(lg) {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

    &__price-wrap {
      left: 0;
      right: 0;
      bottom: 70px;
      display: flex;
      position: absolute;
      align-items: center;
    }

    &__price {
      font-weight: 600;

      &_new {
        color: $accent;
        font-size: 26px;
        margin-right: 20px;

        @include respond-above(lg) {
          font-size: 28px;
        }
      }

      &_old {
        opacity: 0.3;
        color: #222222;
        font-size: 20px;
        text-decoration: line-through !important;
      }
    }

    .custom-btn {
      left: 0;
      bottom: 0;
      min-width: 170px;
      position: absolute;
      background-color: $secondary;

      @include respond-above(lg) {
        width: 190px;
      }
    }
  }

  .slider-nav {
    right: 0;
    top: -50px;
    z-index: 1;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;

    @include respond-above(lg) {
      top: 115px;
      right: auto;
      left: calc(-16.666667% - 30px);
    }
  }

  .slider-arrow {
    width: 10px;
    height: 28px;
    cursor: pointer;

    &_prev {
      margin-right: 30px;
    }

    &_next {
      margin-left: 30px;

      img {
        transform: rotate(180deg);
      }
    }
  }
}

.home-scheme-section {
  padding-top: 40px;
  background-color: $accent;

  @include respond-above(lg) {
    padding: 100px 0;
  }

  .container {
    @include respond-above(lg) {
      max-width: 1310px;
    }
  }

  .section-title {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;

    @include respond-above(lg) {
      text-align: left;
      margin-bottom: 40px;
    }
  }

  .scheme-card {
    position: relative;
    margin-bottom: 55px;

    @include respond-above(lg) {
      margin-bottom: 0;
    }

    &__info {
      display: flex;
      max-width: 280px;
      flex-direction: column;
      padding: 65px 0 0 50px;
      align-items: flex-start;

      @include respond-above(lg) {
        max-width: none;
      }
    }

    &__number {
      top: 0;
      left: 0;
      width: auto;
      z-index: -1;
      height: 100px;
      position: absolute;
    }

    &__title {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      position: relative;
      margin-bottom: 10px;
      padding-bottom: 12px;

      @include respond-above(lg) {
        font-size: 22px;
      }

      &:after {
        left: 0;
        bottom: 0;
        content: '';
        height: 1px;
        width: 30px;
        position: absolute;
        background-color: #fff;
      }
    }

    &__desc {
      opacity: 0.6;
      color: #ffffff;
    }
  }
}

.feedback-section {
  padding: 40px 0 50px;

  @include respond-above(lg) {
    padding: 100px 0;
  }

  .background-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    &:after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      content: '';
      position: absolute;
      background-image: linear-gradient(to right, rgba(71, 71, 71, 0) 0%, rgba(34, 34, 34, 0.63) 100%);
    }

    img {
      object-fit: cover;
    }
  }

  .section-title {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;

    @include respond-above(lg) {
      font-size: 40px;
      text-align: left;
      line-height: 42px;
      margin-bottom: 15px;
    }
  }

  .section-desc {
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);

    @include respond-above(lg) {
      font-size: 16px;
      text-align: left;
      max-width: 410px;
      line-height: 22px;
      margin-bottom: 25px;
    }
  }

  .form {
    @include respond-above(lg) {
      max-width: 360px;
    }
  }

  .form-group {
    margin-bottom: 40px;
  }

  .form-control {
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;

    &::placeholder {
      opacity: 0.55;
      color: #ffffff;
    }
  }

  .custom-btn {
    border-radius: 0;
  }
}

.home-reviews-section {
  padding: 40px 0;

  @include respond-above(lg) {
    padding: 120px 0 100px;
  }

  .slick-list {
    margin: 0 -15px;
    padding: 25px 0;

    .slick-slide {
      margin: 0 15px;
    }
  }

  .section-title {
    text-align: center;
    margin-bottom: 20px;

    @include respond-above(lg) {
      text-align: left;
      margin-bottom: 60px;
    }
  }

  .review-card {
    background-color: #fff;
    padding: 15px 15px 30px;
    transition: all 0.4s ease-in-out;

    &.opened {
      z-index: 1;
      position: relative;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    }

    @include respond-above(lg) {
      margin-bottom: 0;
    }

    &__info-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      justify-content: space-between;
    }

    &__person-info {
      display: flex;
      align-items: center;
    }

    &__person-image {
      width: 32px;
      height: 32px;
      overflow: hidden;
      margin-right: 15px;
      border-radius: 50%;
    }

    &__person-name {
      font-size: 20px;
      font-weight: 600;
      font-family: "Proxima Nova Lt";
    }

    &__date {
      opacity: 0.2;
      color: #222222;

      @include respond-above(lg) {
        margin-bottom: 20px;
      }
    }

    &__desc {
      overflow: hidden;
      margin-bottom: 15px;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }

    &__see-more {
      opacity: 0.2;
      color: #222222;
      font-size: 18px;
      cursor: pointer;
      position: relative;
      align-items: center;
      display: inline-flex;
      justify-content: flex-start;
      transition: all 0.3s ease-in-out;

      &:before {
        width: 0;
        content: '';
        height: 2px;
        z-index: 2;
        display: block;
        margin-right: 10px;
        background-color: $accent;
        transition: all 0.3s ease-in-out;
      }

      &.opened, &:hover {
        opacity: 1;
        color: $accent;

        &:before {
          width: 25px;
        }
      }
    }
  }

  .slider-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-above(lg) {
      top: 10px;
      z-index: 1;
      width: auto;
      right: 15px;
      position: absolute;
    }
  }

  .slider-count {
    @include respond-above(lg) {
      margin: 0 40px;
    }
  }

  .slider-arrow {
    display: flex;
    color: $accent;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    text-transform: uppercase;

    &_prev {
      &:before {
        width: 30px;
        height: 1px;
        content: '';
        margin-right: 8px;
        background-color: $accent;
      }
    }

    &_next {
      &:after {
        width: 30px;
        height: 1px;
        content: '';
        display: block;
        margin-left: 8px;
        position: relative;
        background-color: $accent;
      }
    }
  }
}
