#sub-category-page {
  .home-stock-section {
    padding: 40px 0 50px;

    @include respond-above(lg) {
      padding: 100px 0;
    }

    .stock-slider {
      &__price {
        &_new {
          color: $accent;
        }
      }
    }
  }

  .sub-category-section {
    .col-examples {
      @include respond-above(lg) {
        margin-top: 80px;
      }
    }

    .section-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 12px;

      @include respond-above(lg) {
        font-size: 40px;
        margin-bottom: 0;
        line-height: 40px;
      }
    }

    .section-sub-title {
      line-height: 24px;
      margin-bottom: 30px;

      @include respond-above(lg) {
        margin-bottom: 60px;
      }
    }

    .example-slider {
      & > .slick-list {
        margin: 0 -15px;
        padding-right: 60px;

        & > .slick-track {
          display: flex;

          & > .slick-slide {
            height: auto;
          }
        }

        @include respond-above(lg) {
          padding-right: 0;
        }
      }

      .slick-slide {
        .example-slide {
          height: 100%;
          transform: scale(0.9);
          flex-direction: column;
          display: flex !important;
        }

        &.slick-active {
          .example-slide {
            transform: scale(1);
          }
        }
      }

      .example-slide {
        margin: 0 15px;
        overflow: hidden;
        border-radius: 8px;
        transform: scale(0.9);
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
      }
    }

    .example-inner-slider {
      position: relative;

      .slick-arrow {
        top: 50%;
        z-index: 1;
        width: 19px;
        height: 38px;
        font-size: 0;
        position: absolute;
        transform: translateY(-50%);
        background-size: 7px 19px;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgba(253, 253, 253, 0.6);
        background-image: url('/public/images/slider_arrow.svg');

        &.slick-prev {
          left: 0;
        }

        &.slick-next {
          right: 0;
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    .example-card {
      display: flex;
      flex: 1 0 auto;
      padding: 20px 15px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      @include respond-above(lg) {
        padding: 20px 20px 25px;
      }

      &__image {
        height: 300px;

        @include respond-above(lg) {
          height: 350px;
        }

        img {
          object-fit: cover;
        }
      }

      &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 12px;
      }

      &__desc {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 13px;
      }

      &__parameters {
        color: #222;
        opacity: 0.5;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 17px;
      }

      .custom-btn {
        @include respond-above(lg) {
          width: 210px;
        }
      }
    }

    .slider-nav {
      z-index: 1;
      width: 100%;
      display: flex;
      margin: 30px 0;
      position: relative;
      align-items: center;
      justify-content: center;

      @include respond-above(lg) {
        max-width: 300px;
        margin: 30px auto 0;
      }
    }

    .slider-count {
      @include respond-above(lg) {
        margin: 0 40px;
      }
    }

    .slider-arrow {
      top: 50%;
      display: flex;
      font-size: 14px;
      cursor: pointer;
      color: $accent;
      position: absolute;
      align-items: center;
      text-transform: uppercase;
      transform: translateY(-50%);
      transition: all 0.4s ease-in-out;

      &.slick-hidden, &.slick-disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
        color: rgba(34, 34, 34, 0.4);

        &:before, &:after {
          background-color: rgba(34, 34, 34, 0.4);
        }
      }

      &_prev {
        left: 0;

        &:before {
          width: 30px;
          height: 1px;
          content: '';
          margin-right: 8px;
          background-color: $accent;
          transition: all 0.4s ease-in-out;
        }
      }

      &_next {
        right: 0;

        &:after {
          width: 30px;
          height: 1px;
          content: '';
          display: block;
          margin-left: 8px;
          position: relative;
          background-color: $accent;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
}

.sub-category-constructor-section {
  padding: 40px 0;

  @include respond-above(lg) {
    padding: 120px 0 0;
  }

  .section-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 30px;

    @include respond-above(lg) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .slider-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-above(lg) {
      justify-content: flex-start;
    }

    .slider-arrow {
      padding: 10px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;

      &.slick-disabled {
        opacity: 0.4;
        pointer-events: none;
      }

      &_next {
        transform: rotate(180deg);
      }
    }

    .slider-count {
      margin: 0 5px;

      @include respond-above(lg) {
        margin: 0 20px;
      }
    }
  }

  .constructor-slider-wrap {
    position: relative;
  }

  .constructor-static-image {
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 310px;
    flex: 0 0 100%;
    max-width: 100%;
    position: absolute;

    @include respond-above(lg) {
      height: 435px;
      flex: 0 0 calc(50% - 15px);
      max-width: calc(50% - 15px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .constructor-slider {
    margin-bottom: 30px;

    @include respond-above(lg) {
      margin-bottom: 0;
    }

    &__slide {

    }

    &__image {
      z-index: 1;
      height: 310px;
      position: relative;
      margin-bottom: 30px;

      @include respond-above(lg) {
        height: 435px;
        margin-bottom: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info-wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include respond-above(lg) {
        padding-left: 60px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;

      @include respond-above(lg) {
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    &__description {
      @include respond-above(lg) {
        max-width: 400px;
      }
    }
  }
}

.sub-category-equal-section {
  .col-title {
    margin-bottom: 40px;

    @include respond-above(lg) {
      margin-bottom: 0;
    }

    .custom-btn {
      width: 235px;
      padding: 0 15px;
    }
  }

  .section-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 25px;

    @include respond-above(lg) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 60px;
    }
  }

  .equal-card {
    margin-bottom: 20px;

    @include respond-above(lg) {
      margin-bottom: 30px;
    }

    &__image {
      height: 260px;
      overflow: hidden;
      border-radius: 8px;
      margin-bottom: 20px;

      @include respond-above(lg) {
        margin-bottom: 25px;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      font-family: "Proxima Nova Lt";
    }

    &__desc {
      font-size: 14px;
      color: rgba(34, 34, 34, 0.6);
    }
  }

  .equal-row {
    position: relative;

    &:last-child {
      &:before {
        display: none;
      }
    }

    @include respond-above(lg) {
      padding-top: 30px;
      margin-bottom: 30px;

      &:before {
        top: 0;
        z-index: 1;
        left: 15px;
        right: 15px;
        content: '';
        height: 1px;
        position: absolute;
        background-color: #d0d0d0;
      }
    }
  }

  .equal-parameter-wrap {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  .equal-parameter {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #d0d0d0;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 40px;
    }

    @include respond-above(lg) {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;

      @include respond-above(lg) {
        margin-bottom: 0;
      }
    }

    &__sub-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
      justify-content: flex-start;

      img {
        width: 16px;
        height: 12px;
        margin-right: 15px;
      }

      span {
        font-size: 16px;
        font-weight: 600;
      }
    }

    &__desc {
      font-size: 14px;
      padding-left: 30px;
      color: rgba(34, 34, 34, 0.6);
    }

    .custom-btn {
      margin-top: 15px;
    }
  }
}

.sub-category-appearance-section {
  @include respond-above(lg) {
    padding: 120px 0 0;
  }

  .section-title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
    line-height: 28px;
    margin-bottom: 30px;
    border-top: 1px solid $custom-black;

    @include respond-above(lg) {
      padding-top: 0;
      font-size: 32px;
      border-top: none;
      line-height: 40px;
      margin-bottom: 40px;
    }
  }

  .choose-image-wrap {
    max-width: 90%;
    margin: 0 auto 15px;

    @include respond-above(lg) {
      height: 400px;
    }

    img {
      object-fit: cover;
    }
  }

  .col-appearance {
    margin-bottom: 35px;
  }

  .choose-link {
    position: relative;
    color: $custom-black;
    transition: all 0.4s ease-in-out;

    &:after {
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      height: 2px;
      position: absolute;
      background-color: #b8deae;
    }

    &:hover {
      color: $accent;
    }
  }

  .nav-tab {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }

  .nav-item {
    flex: 0 0 auto;
    max-width: 90px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .choose-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
    justify-content: flex-start;
  }

  .choose-type-wrap {
    margin-bottom: 25px;

    @include respond-above(lg) {
      margin-bottom: 35px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .choose-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .choose-sub-title {
    margin-bottom: 15px;
  }

  .choose-item {
    width: 100%;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    flex-direction: column;

    &.palette-item {
      max-width: 90px;
      min-width: 90px;
      margin: 0 10px 15px;
    }

    &.active {
      .choose-item__color {
        &:before {
          opacity: 1;
        }
      }

      .choose-item__image {
        &:before {
          opacity: 1;
        }

        img {
          filter: grayscale(0);
        }
      }

      .choose-item__text {
        color: $custom-black;
      }
    }

    &__image {
      margin-bottom: 10px;

      &:before {
        z-index: 1;
        opacity: 0;
        content: '';
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border-radius: 4px;
        position: absolute;
        border: 1px solid #6ab858;
        transition: all 0.4s ease-in-out;
      }

      img {
        object-fit: cover;
        filter: grayscale(1);
        transition: all 0.4s ease-in-out;
      }
    }

    &__color {
      width: 100%;
      height: 30px;
      position: relative;
      border-radius: 4px;
      margin-bottom: 10px;

      &:before {
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: 1;
        content: '';
        opacity: 0;
        border-radius: 4px;
        position: absolute;
        border: 1px solid #6ab858;
        transition: all 0.4s ease-in-out;
      }
    }

    &__text {
      color: #b4b4b4;
      text-align: center;
      transition: all 0.4s ease-in-out;
    }
  }
}

.sub-category-video-section {
  padding: 30px 0 0;

  @include respond-above(lg) {
    padding: 100px 0 20px;
  }

  .section-title {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 25px;
    text-align: center;

    @include respond-above(lg) {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 50px;
    }
  }

  .video-wrap {
    height: 200px;
    overflow: hidden;
    border-radius: 4px;

    @include respond-above(lg) {
      margin: 0 auto;
      height: 410px;
      max-width: 730px;
      border-radius: 8px;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
