#thank-page {
  padding-top: 56px;
  height: calc(100vh - 185px);

  @include respond-above(lg) {
    padding-top: 90px;
    height: calc(100vh - 218px);
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .custom-btn {
    max-width: 250px;
    margin: 30px auto 0;
  }
}
