extends includes/layout

block vars
	-
		var title = "Category"
		var advantages = [
			{
				title: 'Небольшие сроки',
				icon: '/assets/images/sub_advantage_1.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			},
			{
				title: 'Оптимальная стоимость',
				icon: '/assets/images/sub_advantage_2.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			},
			{
				title: 'Оформление документов',
				icon: '/assets/images/sub_advantage_3.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			},
			{
				title: 'Работаем 24/7',
				icon: '/assets/images/sub_advantage_4.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			}
		]

append content
	main#category-page
		section.category-main-section
			.section-bg
				img(src="/assets/images/default.jpeg" alt="background")
			.container
				.breadcrumb(data-aos="show-up-20")
					a.breadcrumb-item(href="/") Главная
					a.breadcrumb-item(href="/category.html") Автоматические ворота
				.row
					.col-12.col-lg-6
						h1.section-title(data-aos="show-up-20" data-aos-delay="200") Автоматические ворота
						p.section-sub-title(data-aos="show-up-20" data-aos-delay="400")
							| Для современного мира семантический разбор внешних противодействий является качественно новой ступенью
							| своевременного выполнения сверхзадачи.
						button.custom-btn.secondary(type="button" data-toggle="modal" data-target="#feedback" data-aos="show-up-20" data-aos-delay="600")
							span Получить консультацию
					.col-12.offset-lg-2.col-lg-4
						.sub-categories(data-aos="show-up-20" data-aos-delay="400")
							a.sub-category-link(href="/sub-category.html")
								span Секционные бытовые
							a.sub-category-link(href="/sub-category.html")
								span Секционные промышленные
							a.sub-category-link(href="/sub-category.html")
								span Въездные
		section.sub-category-section
			.container
				.row
					.col-12
						.row
							.col-12.col-lg-6.p-0
								.sub-category-slider.sub-category-slider_big(data-aos="clip-right")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
								.sub-category-slider.sub-category-slider_small(data-aos="clip-right")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
							.col-12.col-lg-6
								.sub-category__info
									h3.sub-category__title(data-aos="show-up-20" data-aos-delay="200") Уточнение границ земельного участка
									p.sub-category__desc(data-aos="show-up-20" data-aos-delay="400")
										| Для современного мира семантический разбор внешних противодействий является качественно новой ступенью
										| своевременного выполнения сверхзадачи. Для современного мира семантический разбор внешних противодействий
										| является качественно новой ступенью своевременного выполнения сверхзадачи.
									a.custom-btn.secondary(href="/sub-category.html" data-aos="show-up-20" data-aos-delay="600")
										span Подробнее
		section.sub-category-section
			.container
				.row
					.col-12
						.row
							.col-12.col-lg-6.p-0
								.sub-category-slider.sub-category-slider_big(data-aos="clip-right")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_big__slide
										.sub-category-slider__image.sub-category-slider_big__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
								.sub-category-slider.sub-category-slider_small(data-aos="clip-right")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
									.sub-category-slider__slide.sub-category-slider_small__slide
										.sub-category-slider__image.sub-category-slider_small__image
											img(src="/assets/images/default.jpeg" alt="subcategory")
							.col-12.col-lg-6
								.sub-category__info
									h3.sub-category__title(data-aos="show-up-20" data-aos-delay="200") Уточнение границ земельного участка
									p.sub-category__desc(data-aos="show-up-20" data-aos-delay="400")
										| Для современного мира семантический разбор внешних противодействий является качественно новой ступенью
										| своевременного выполнения сверхзадачи. Для современного мира семантический разбор внешних противодействий
										| является качественно новой ступенью своевременного выполнения сверхзадачи.
									a.custom-btn.secondary(href="/sub-category.html" data-aos="show-up-20" data-aos-delay="600")
										span Подробнее
		section.consultation-section
			.container
				.row
					.col-12.col-lg-7
						.consultation-section__info(data-aos="clip-right")
							h2.consultation-section__title(data-aos="show-up-20" data-aos-delay="400") Нужна консультация?
							p.consultation-section__desc(data-aos="show-up-20" data-aos-delay="600") Наши консультанты помогут с выбором и назовут точную стоимость. Звоните:
							div(data-aos="show-up-20" data-aos-delay="600")
								a.consultation-section__phone(href="tel:+38 (096) 123 45 67")
									| +38 (096) 123 45 67
							button.custom-btn.inverse(type="button" data-toggle="modal" data-target="#feedback" data-aos="show-up-20" data-aos-delay="800")
								span Перезвоните мне
					.col-12.col-lg-5
						.consultation-section__image(data-aos="clip-right" data-aos-delay="400")
							img(src="/assets/images/default.jpeg" alt="consultation")