extends includes/layout

block vars
	-
		var title = "Contacts"

append content
	main#contacts-page
		section.contacts-main-section
			.container
				.breadcrumb(data-aos="show-up-20")
					a.breadcrumb-item(href="/") Главная
					a.breadcrumb-item(href="/contacts.html") Контакты
				.row
					.col-12.col-lg-4
						h1.section-title(data-aos="show-up-20" data-aos-delay="200") Контакты
						.contacts-wrap.with-divider(data-aos="show-up-20" data-aos-delay="400")
							a.contacts-item(href="/")
								img(src="/assets/images/geo.svg" alt="geo")
								span г. Одесса, ул. Пушкинская 123
							a.contacts-item(href="mailto:office.hordis@gmail.com")
								img(src="/assets/images/mail_footer.svg" alt="mail")
								span office.hordis@gmail.com
						.contacts-wrap(data-aos="show-up-20" data-aos-delay="600")
							a.contacts-item(href="tel:8 (965) 763 07 05")
								img(src="/assets/images/call.svg" alt="call")
								span 8 (965) 763 07 05
							a.contacts-item(href="tel:8 (965) 763 07 05")
								img(src="/assets/images/viber.svg" alt="viber")
								span 8 (965) 763 07 05
						.contacts-socials.d-none.d-lg-flex(data-aos="show-up-20" data-aos-delay="800")
							a.social-link(href="/")
								img.svg(src="/assets/images/contact_instagram.svg" alt="instagram")
							a.social-link(href="/")
								img.svg(src="/assets/images/contact_facebook.svg" alt="facebook")
					.col-12.col-lg-5.offset-lg-3.feedback-section
						h2.section-title(data-aos="show-up-20" data-aos-delay="400") Связаться с нами
						form#feedback-form.form(method="POST" action="/" data-aos="show-up-20" data-aos-delay="200")
							.form-group
								input.form-control(type="text" name="name" placeholder="Имя" required)
							.form-group
								input.form-control(type="tel" name="phone" placeholder="Номер телефона" required)
							.form-group
								input.form-control(type="text" name="question" placeholder="Опишите вопрос" required)
							button.custom-btn(type="submit")
								span Отправить заявку
		section.contacts-map-section(data-aos="clip-right")
			.map-wrap
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.9360246362517!2d30.739194215714416!3d46.46977517380257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631789b3e32f1%3A0x4c251eb329fa48c3!2z0YPQu9C40YbQsCDQn9GD0YjQutC40L3RgdC60LDRjywgMTIzLCDQntC00LXRgdGB0LAsINCe0LTQtdGB0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDY1MDAw!5e0!3m2!1sru!2sua!4v1605603879775!5m2!1sru!2sua"
					frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")