extends includes/layout

block vars
  -
    var title = "Aludis"
    var mainSlides = [
      {
        image: '/assets/images/default.jpeg',
        title: 'Aldis - официальный партнёр и поставщик алютех',
        subTitle: 'Регистрация садового, дачного, жилого дома на земельных участках строительство (ИЖС), личное подсобное ' +
                'хозяйство (ЛПХ).'
      },
      {
        image: '/assets/images/default.jpeg',
        title: 'Aldis - официальный партнёр и поставщик алютех',
        subTitle: 'Регистрация садового, дачного, жилого дома на земельных участках строительство (ИЖС), личное подсобное ' +
                'хозяйство (ЛПХ).'
      },
      {
        image: '/assets/images/default.jpeg',
        title: 'Aldis - официальный партнёр и поставщик алютех',
        subTitle: 'Регистрация садового, дачного, жилого дома на земельных участках строительство (ИЖС), личное подсобное ' +
                'хозяйство (ЛПХ).'
      },
      {
        image: '/assets/images/default.jpeg',
        title: 'Aldis - официальный партнёр и поставщик алютех',
        subTitle: 'Регистрация садового, дачного, жилого дома на земельных участках строительство (ИЖС), личное подсобное ' +
                'хозяйство (ЛПХ).'
      }
    ]
    var services = [
      {
        image: '/assets/images/default.jpeg',
        title: 'Ворота'
      },
      {
        image: '/assets/images/default.jpeg',
        title: 'Роллеты'
      },
      {
        image: '/assets/images/default.jpeg',
        title: 'Автоматика'
      }
    ]
    var advantages = [
      {
        icon: '/assets/images/advantage_1.svg',
        title: 'Небольшие сроки',
        desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия.' +
                ' России с трудом удалось отстоять Псков.'
      },
      {
        icon: '/assets/images/advantage_2.svg',
        title: 'Оптимальная стоимость',
        desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия.' +
                ' России с трудом удалось отстоять Псков.'
      },
      {
        icon: '/assets/images/advantage_3.svg',
        title: 'Оформление документов',
        desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия.' +
                ' России с трудом удалось отстоять Псков.'
      },
      {
        icon: '/assets/images/advantage_4.svg',
        title: 'Работаем 24/7',
        desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия.' +
                ' России с трудом удалось отстоять Псков.'
      }
    ]
    var stocks = [
      {
        image: '/assets/images/default.jpeg',
        title: 'Название акции 1',
        desc: 'Audio player software is used to play back sound recordings in one of the many formats',
        priceNew: '19900 р',
        priceOld: '23000 р'
      },
      {
        image: '/assets/images/default.jpeg',
        title: 'Название акции 1',
        desc: 'Audio player software is used to play back sound recordings in one of the many formats',
        priceNew: '19900 р',
        priceOld: '23000 р'
      },
      {
        image: '/assets/images/default.jpeg',
        title: 'Название акции 1',
        desc: 'Audio player software is used to play back sound recordings in one of the many formats',
        priceNew: '19900 р',
        priceOld: '23000 р'
      },
      {
        image: '/assets/images/default.jpeg',
        title: 'Название акции 1',
        desc: 'Audio player software is used to play back sound recordings in one of the many formats',
        priceNew: '19900 р',
        priceOld: '23000 р'
      }
    ]
    var schemes = [
      {
        image: '/assets/images/number_one.svg',
        title: 'Подписание договора',
        desc: 'Заключение официального договора и оформление доверенностей'
      },
      {
        image: '/assets/images/number_two.svg',
        title: 'Анализ документов',
        desc: 'Сбор и анализ всей необходимой документации на объект недвижимости'
      },
      {
        image: '/assets/images/number_three.svg',
        title: 'Обследование объекта',
        desc: 'Выезд к клиенту на объект, обследование, производство замеров объекта'
      },
      {
        image: '/assets/images/number_four.svg',
        title: 'Подготовка документов',
        desc: 'Обработка данных, формирование тех. Плана, передача документов заказчику'
      }
    ]
    var reviews = [
      {
        image: 'assets/images/default.jpeg',
        name: 'Алексей Николаенко',
        date: '31.10.2019',
        desc: 'Заказывал кадастровый и технический'
      },
      {
        image: 'assets/images/default.jpeg',
        name: 'Алексей Николаенко',
        date: '31.10.2019',
        desc: 'Заказывал кадастровый и технический паспорта для дома. Компания «ЕЦКР» сработала очень оперативно: как ' +
                'обещали сроки, так и сдержали. Заказывал кадастровый и технический паспорта для дома. Компания «ЕЦКР» ' +
                'сработала очень оперативно: как обещали сроки, так и сдержали. '
      },
      {
        image: 'assets/images/default.jpeg',
        name: 'Алексей Николаенко',
        date: '31.10.2019',
        desc: 'Заказывал кадастровый и технический паспорта для дома. Компания «ЕЦКР» сработала очень оперативно: как ' +
                'обещали сроки, так и сдержали. Заказывал кадастровый и технический паспорта для дома. Компания «ЕЦКР» ' +
                'сработала очень оперативно: как обещали сроки, так и сдержали. '
      },
      {
        image: 'assets/images/default.jpeg',
        name: 'Алексей Николаенко',
        date: '31.10.2019',
        desc: 'Заказывал кадастровый и технический паспорта для дома. Компания «ЕЦКР» сработала очень оперативно: как ' +
                'обещали сроки, так и сдержали. Заказывал кадастровый и технический паспорта для дома. Компания «ЕЦКР» ' +
                'сработала очень оперативно: как обещали сроки, так и сдержали. '
      }
    ]

append content
  main#home-page
    section.home-main-section
      .slider-wrap.main-slider
        .loader-wrap
          .loader
        #main-slider.slider
          each slide in mainSlides
            .slide
              .main-slider__image
                img(src=slide.image alt=slide.title)
              .container
                h2.main-slider__title(data-aos="show-up-20" data-aos-delay="1000")=slide.title
                p.main-slider__sub-title(data-aos="show-up-20" data-aos-delay="1200")=slide.subTitle
                button.custom-btn(data-toggle="modal" data-target="#feedback" data-aos="show-up-20" data-aos-delay="1400")
                  span Получить консультацию
    section.home-service-section
      .scroll-wrap(data-aos="show-up-20")
        span скролл
        img(src="/assets/images/scroll.svg" alt="scroll")
      .container
        h2.section-title.d-block.d-lg-none Услуги
        .row
          each service, index in services
            .col-12.col-lg-4
              a.home-service-card(href="/" data-aos="show-up-20" data-aos-delay=`${200 + (index * 200)}`)
                .home-service-card__image
                  img(src=service.image alt=service.title)
                h3.home-service-card__title=service.title
    section.home-advantage-section
      .container
        h2.section-title(data-aos="show-up-20") Преимущества
        .row
          each advantage in advantages
            .col-12.col-lg-3
              .advantage-card
                .advantage-card__image(data-aos="show-up-20" data-aos-delay="200")
                  img(src=advantage.icon alt=advantage.title)
                h3.advantage-card__title(data-aos="show-up-20" data-aos-delay="400")=advantage.title
                p.advantage-card__desc(data-aos="show-up-20" data-aos-delay="600")=advantage.desc
    section.home-about-section
      .container
        .row.flex-lg-row-reverse
          .col-12.col-lg-6.p-0
            .about-image(data-aos="clip-right" data-aos-delay="200")
              img(src="/assets/images/default.jpeg" alt="About")
          .col-12.col-lg-6
            .about-info
              h2.section-title(data-aos="show-up-20") Об Aldis
              p.about-info__desc(data-aos="show-up-20" data-aos-delay="200")
                | Для современного мира семантический разбор внешних противодействий является качественно
                | новой ступенью своевременного выполнения сверхзадачи.
                | Мы вынуждены отталкиваться от того, что современная методология разработки однозначно определяет каждого участника.
              a.custom-btn(href="/" data-aos="show-up-20" data-aos-delay="400")
                span Подробнее о нас
    section.home-stock-section
      .container
        .row
          .col-12.col-lg-2
            h2.section-title(data-aos="show-up-20") Акции
          .col-12.col-lg-10
            .slider-wrap.stock-slider
              .loader-wrap
                .loader
              .slider-nav(data-aos="show-up-20" data-aos-delay="200")
                .slider-arrow.slider-arrow_prev
                  img(src="/assets/images/slider_arrow.svg" alt="Prev")
                .slider-count
                  p.slider-count__text.slider-count_current 1
                  p.slider-count__text /
                  p.slider-count__text.slider-count_total 2
                .slider-arrow.slider-arrow_next
                  img(src="/assets/images/slider_arrow.svg" alt="Next")
              #stock-slider.slider
                each stock, index in stocks
                  .slide(data-aos="show-up-20" data-aos-delay=`${400 + (index * 200)}`)
                    .stock-slider__image
                      img(src=stock.image alt=stock.title)
                    h4.stock-slider__title=stock.title
                    p.stock-slider__desc=stock.desc
                    .stock-slider__price-wrap
                      p.stock-slider__price.stock-slider__price_new=stock.priceNew
                      p.stock-slider__price.stock-slider__price_old=stock.priceOld
                    button.custom-btn(type="button" data-toggle="modal" data-target="#feedback")
                      span Узнать детали
    section.home-scheme-section
      .container
        h2.section-title(data-aos="show-up-20") Схема работ
        .row
          each scheme, index in schemes
            .col-12.col-lg-3
              .scheme-card(data-aos="show-up-20" data-aos-delay=`${200 + (index * 200)}`)
                .scheme-card__number
                  img(src=scheme.image alt=scheme.title)
                .scheme-card__info
                  h3.scheme-card__title=scheme.title
                  p.scheme-card__desc=scheme.desc
    section.feedback-section
      .background-image
        img(src="/assets/images/default.jpeg" alt="Background")
      .container
        .row
          .col-12.col-lg-6
            h2.section-title(data-aos="show-up-20") Бесплатная консультация
            p.section-desc(data-aos="show-up-20" data-aos-delay="200")
              | Оставьте свои контакты, опишите тему вопроса и наш менеджер проконсультирует вас в ближайшее время
            form#feedback-form.form(method="POST" action="/" data-aos="show-up-20" data-aos-delay="400")
              .form-group
                input.form-control(type="text" name="name" placeholder="Имя" required)
              .form-group
                input.form-control(type="tel" name="phone" placeholder="Номер телефона" required)
              .form-group
                input.form-control(type="text" name="question" placeholder="Опишите вопрос" required)
              button.custom-btn(type="submit")
                span Отправить заявку
    section.home-reviews-section
      .container
        h2.section-title(data-aos="show-up-20") Отзывы
        .slider-wrap.reviews-slider
          .loader-wrap
            .loader
          #reviews-slider.slider
            each review in reviews
              .slide
                .review-card(data-aos="show-up-20" data-aos-delay="400")
                  .review-card__info-wrap
                    .review-card__person-info
                      .review-card__person-image.d-none.d-lg-block
                        img(src=review.image alt=review.name)
                      p.review-card__person-name=review.name
                    p.review-card__date.d-block.d-lg-none=review.date
                  p.review-card__desc=review.desc
                  p.review-card__date.d-none.d-lg-block=review.date
                  .review-card__see-more развернуть
          .slider-nav(data-aos="show-up-20" data-aos-delay="200")
            .slider-arrow.slider-arrow_prev
              span назад
            .slider-count
              p.slider-count__text.slider-count_current 1
              p.slider-count__text /
              p.slider-count__text.slider-count_total 2
            .slider-arrow.slider-arrow_next
              span далее