extends includes/layout

block vars
	-
		var title = "Subcategory"
		var stocks = [
			{
				image: '/assets/images/default.jpeg',
				title: 'Название акции 1',
				desc: 'Audio player software is used to play back sound recordings in one of the many formats Audio player software is used to play back sound recordings in one of the many formats Audio player software is used to play back sound recordings in one of the many formats',
				priceNew: '19900 р',
				priceOld: '23000 р'
			},
			{
				image: '/assets/images/default.jpeg',
				title: 'Название акции 1 Название акции 1 123',
				desc: 'Audio player software is used to play back sound recordings in one of the many formats',
				priceNew: '19900 р',
				priceOld: '23000 р'
			},
			{
				image: '/assets/images/default.jpeg',
				title: 'Название акции 1',
				desc: 'Audio player software is used to play back sound recordings in one of the many formats',
				priceNew: '19900 р',
				priceOld: '23000 р'
			},
			{
				image: '/assets/images/default.jpeg',
				title: 'Название акции 1',
				desc: 'Audio player software is used to play back sound recordings in one of the many formats',
				priceNew: '19900 р',
				priceOld: '23000 р'
			}
		]
		var parameters = [
			{
				title: 'Принцип действия',
				subTitle: 'Полотно из сэндвич-панелей',
				desc: 'Перемещается по направляющим профилям из вертикального в горизонтальное положение и обратно. В открытом ' +
								'положении полотно размещается под потолком.'
			},
			{
				title: 'Энергоэффективность',
				subTitle: 'Высокая',
				desc: 'Полотно ворот изготовлено из сэндвич-панелей, толщиной 40-45 мм, что сопоставимо по теплоизоляции с ' +
								'кирпичной стеной толщиной 55-60 см.'
			},
			{
				title: 'Долговечность',
				subTitle: 'Высокая',
				desc: 'Трехслойное покрытие панелей гарантирует надежную защиту от коррозии, а верхний слой - декоративное покрытие ' +
								'ПУР-ПА, обладает высокой стойкостью к повреждениям, перепадам температуры, выгоранию на солнце. 10 лет ' +
								'гарантии от сквозной коррозии.'
			},
			{
				title: 'Герметичность',
				subTitle: 'Высокая',
				desc: 'По периметру ворот устанавливаются эластичные, несминаемые и устойчивые к низким температурам уплотнители EPDM.'
			}
		]
		var advantages = [
			{
				title: 'Небольшие сроки',
				icon: '/assets/images/sub_advantage_1.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			},
			{
				title: 'Оптимальная стоимость',
				icon: '/assets/images/sub_advantage_2.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			},
			{
				title: 'Оформление документов',
				icon: '/assets/images/sub_advantage_3.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			},
			{
				title: 'Работаем 24/7',
				icon: '/assets/images/sub_advantage_4.svg',
				desc: 'Объединение Польши и Литвы в одно государство сделало возможным их совместные контрнаступательные действия. ' +
								'России с трудом удалось отстоять Псков.'
			}
		]
		var examples = [
			{
				title: 'Роллетные ворота серии Prestige 1 Роллетные ворота серии Prestige 1',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
				]
			},
			{
				title: 'Роллетные ворота серии Prestige 2',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
				]
			},
			{
				title: 'Роллетные ворота серии Prestige 3',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
				]
			},
			{
				title: 'Роллетные ворота серии Prestige 4',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
				]
			},
			{
				title: 'Роллетные ворота серии Prestige 3',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
				]
			},
			{
				title: 'Роллетные ворота серии Prestige 3',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg'
				]
			},
			{
				title: 'Роллетные ворота серии Prestige 4',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
				]
			},
			{
				title: 'Роллетные ворота серии Prestige 3',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
				]
			},
			{
				title: 'Роллетные ворота серии Prestige 4',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
				]
			},
			{
				title: 'Роллетные ворота серии Prestige 3',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
				]
			},
			{
				title: 'Роллетные ворота серии Prestige 4',
				desc: 'Воротный профиль AG/77, высокая защита от взлома',
				parameters: 'цвет: коричневый, 2600×2100 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°',
				images: [
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
					'/assets/images/default.jpeg',
				]
			}
		]

append content
	main#sub-category-page
		section.category-main-section
			.section-bg
				img(src="/assets/images/default.jpeg" alt="background")
			.container
				.breadcrumb(data-aos="show-up-20")
					a.breadcrumb-item(href="/") Главная
					a.breadcrumb-item(href="/category.html") Автоматические ворота
					a.breadcrumb-item(href="/sub-category.html") Секционные бытовые
				.row
					.col-12.col-lg-6
						h1.section-title(data-aos="show-up-20" data-aos-delay="200") Секционные бытовые
						p.section-sub-title(data-aos="show-up-20" data-aos-delay="400")
							| Для современного мира семантический разбор внешних противодействий является качественно новой ступенью
							| своевременного выполнения сверхзадачи.
						button.custom-btn.secondary(type="button" data-toggle="modal" data-target="#feedback" data-aos="show-up-20" data-aos-delay="600")
							span Получить консультацию
					.col-12.offset-lg-2.col-lg-4
						.sub-categories(data-aos="show-up-20" data-aos-delay="400")
							a.sub-category-link(href="/sub-category.html")
								span Престиж
							a.sub-category-link(href="/sub-category.html")
								span Тренд
		section.home-stock-section
			.container
				.row
					.col-12.col-lg-2
						h2.section-title(data-aos="show-up-20") Акции
					.col-12.col-lg-10
						.slider-wrap.stock-slider
							.loader-wrap
								.loader
							.slider-nav(data-aos="show-up-20" data-aos-delay="200")
								.slider-arrow.slider-arrow_prev
									img(src="/assets/images/slider_arrow.svg" alt="Prev")
								.slider-count
									p.slider-count__text.slider-count_current 1
									p.slider-count__text /
									p.slider-count__text.slider-count_total 2
								.slider-arrow.slider-arrow_next
									img(src="/assets/images/slider_arrow.svg" alt="Next")
							#stock-slider.slider
								each stock, index in stocks
									.slide(data-aos="show-up-20" data-aos-delay=`${400 + (index * 200)}`)
										.stock-slider__image
											img(src=stock.image alt=stock.title)
										h4.stock-slider__title=stock.title
										p.stock-slider__desc=stock.desc
										.stock-slider__price-wrap
											p.stock-slider__price.stock-slider__price_new=stock.priceNew
											p.stock-slider__price.stock-slider__price_old=stock.priceOld
										button.custom-btn(type="button" data-toggle="modal" data-target="#feedback")
											span Узнать детали
		section.sub-category-equal-section
			.container
				.row
					.col-12
						.row
							.col-12.col-lg-4.col-title
								h2.section-title(data-aos="show-up-20") Сравнение секционных и роллетных ворот «АЛЮТЕХ»
								button.custom-btn.secondary(type="button" data-toggle="modal" data-target="#feedback" data-aos="show-up-20" data-aos-delay="200")
									span Получить консультацию
							.col-12.col-lg-8
								.row
									.col-12.col-lg-6
										.equal-card(data-aos="show-up-20" data-aos-delay="400")
											.equal-card__image
												img(src="/assets/images/default.jpeg" alt="equal")
											h3.equal-card__title Секционные ворота
											p.equal-card__desc Теплые ворота в любую пору года.
									//Mobile cards
									.col-12.col-lg-6.d-block.d-lg-none
										.equal-parameter-wrap
											each parameter, index in parameters
												.equal-parameter(data-aos="show-up-20" data-aos-delay=`${index * 200}`)
													p.equal-parameter__title=parameter.title
													p.equal-parameter__sub-title
														img(src="/assets/images/success.svg" alt="success")
														span=parameter.subTitle
													p.equal-parameter__desc=parameter.desc
											.equal-parameter(data-aos="show-up-20" data-aos-delay=`${(parameters.length - 1) * 200}`)
												p.equal-parameter__title Ветроустойчивость
												p.equal-parameter__sub-title
													img(src="/assets/images/success.svg" alt="success")
													span Высокая
												button.custom-btn.secondary(type="button" data-toogle="modal" data-target="#feedback")
													span Узнать детали
									.col-12.col-lg-6
										.equal-card(data-aos="show-up-20" data-aos-delay="600")
											.equal-card__image
												img(src="/assets/images/default.jpeg" alt="equal")
											h3.equal-card__title Секционные ворота
											p.equal-card__desc Теплые ворота в любую пору года.
									//Mobile cards
									.col-12.col-lg-6.d-block.d-lg-none
										.equal-parameter-wrap
											each parameter in parameters
												.equal-parameter(data-aos="show-up-20" data-aos-delay=`${index * 200}`)
													p.equal-parameter__title=parameter.title
													p.equal-parameter__sub-title
														img(src="/assets/images/success.svg" alt="success")
														span=parameter.subTitle
													p.equal-parameter__desc=parameter.desc
											.equal-parameter(data-aos="show-up-20" data-aos-delay=`${(parameters.length - 1) * 200}`)
												p.equal-parameter__title Ветроустойчивость
												p.equal-parameter__sub-title
													img(src="/assets/images/success.svg" alt="success")
													span Высокая
												button.custom-btn.secondary(type="button" data-toogle="modal" data-target="#feedback")
													span Узнать детали
							.col-12.d-none.d-lg-block
								.row.equal-row
									.col-4
										.equal-parameter(data-aos="show-up-20")
											p.equal-parameter__title Принцип действия
									.col-4
										.equal-parameter(data-aos="show-up-20" data-aos-delay="200")
											p.equal-parameter__sub-title
												img(src="/assets/images/success.svg" alt="success")
												span Полотно из сэндвич-панелей
											p.equal-parameter__desc Перемещается по направляющим профилям из вертикального в горизонтальное
												| положение и обратно. В открытом положении полотно размещается под потолком.
									.col-4
										.equal-parameter(data-aos="show-up-20" data-aos-delay="400")
											p.equal-parameter__sub-title
												//img(src="/assets/images/success.svg" alt="success")
												img(src="/assets/images/failure.svg" alt="failure")
												span Стандартная
								.row.equal-row
									.col-4
										.equal-parameter(data-aos="show-up-20")
											p.equal-parameter__title Ветроустойчивость
									.col-4
										.equal-parameter(data-aos="show-up-20" data-aos-delay="200")
											p.equal-parameter__sub-title
												img(src="/assets/images/success.svg" alt="success")
												//img(src="/assets/images/failure.svg" alt="failure")
												span Высокая
											button.custom-btn.secondary(type="button" data-toggle="modal" data-target="#feedback")
												span Узнать детали
									.col-4
										.equal-parameter(data-aos="show-up-20" data-aos-delay="400")
											p.equal-parameter__sub-title
												//img(src="/assets/images/success.svg" alt="success")
												img(src="/assets/images/failure.svg" alt="failure")
												span Стандартная
											button.custom-btn.secondary(type="button" data-toggle="modal" data-target="#feedback")
												span Узнать детали

		section.sub-category-constructor-section
			.container
				h2.section-title Конструкция
				.constructor-slider-wrap
					.constructor-static-image
						img(src="/assets/images/constructor-static-example.png")
					.constructor-slider
						.constructor-slider__slide
							.row
								.col-12.col-lg-6
									.constructor-slider__image
										img(src="/assets/images/constructor-slide-1.png")
								.col-12.col-lg-6
									.constructor-slider__info-wrap
										.constructor-slider__info
											p.constructor-slider__title Формы коробов
											p.constructor-slider__description
												| Несколько форм защитных коробов для накладного монтажа — круглые, полукруглые, 20° и 45°, а
												| также встроенные короба.
										.constructor-slider__info
											p.constructor-slider__title Направляющие шины
											p.constructor-slider__description
												| Учитывая конструктивные особенности бывают: стандартные и специальные (угловые, дистанцирующие,
												| сдвоенные).
						.constructor-slider__slide
							.row
								.col-12.col-lg-6
									.constructor-slider__image
										img(src="/assets/images/constructor-slide-2.png")
								.col-12.col-lg-6
									.constructor-slider__info-wrap
										.constructor-slider__info
											p.constructor-slider__title Тип профиля
											p.constructor-slider__description
												| Перфорированный профиль позволяет управлять дневным светом, как вам нравится.
										.constructor-slider__info
											p.constructor-slider__title Антимоскитная сетка
											p.constructor-slider__description
												| Удобное и практичное решение в одном общем коробе позволяет открывать и закрывать рольставни и
												| антимоскитную сетку независимо друг от друга.
					.col-12.col-lg-6.offset-lg-6
						.slider-nav
							.slider-arrow.slider-arrow_prev
								img(src="/assets/images/slider_arrow.svg" alt="Prev")
							.slider-count
								p.slider-count__text.slider-count_current 1
								p.slider-count__text /
								p.slider-count__text.slider-count_total 1
							.slider-arrow.slider-arrow_next
								img(src="/assets/images/slider_arrow.svg" alt="Next")
		section.sub-category-appearance-section(data-aos="show-up-20")
			.container
				h2.section-title Внешний вид
				.row
					.col-12.col-lg-6.col-appearance
						.choose-image-wrap
							img(src="/assets/images/default.jpeg" alt="appearance")
						a.choose-link(href="/") Узнать стоимость выбранного варианта
					.col-12.col-lg-6
						.choose-type-wrap
							p.choose-title Типы профиля
							ul.nav.nav-tab
								li.nav-item
									a.choose-item.type-item.active(data-toggle="tab" href="#tab-1")
										.choose-item__image
											img(src="/assets/images/default.jpeg" alt="type")
										span.choose-item__text S-гофр
								li.nav-item
									a.choose-item.type-item(data-toggle="tab" href="#tab-2")
										.choose-item__image
											img(src="/assets/images/default.jpeg" alt="type")
										span.choose-item__text Микроволна
						.choose-type-wrap
							p.choose-title Палитра
							.tab-content
								.tab-pane.fade.show.active(id="tab-1")
									p.choose-sub-title Стандартная
									ul.choose-items
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#e3d1b5")
											p.choose-item__text RAL 1015
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#701f29")
											p.choose-item__text RAL 3004
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#14447c")
											p.choose-item__text RAL 5010
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#0e4336")
											p.choose-item__text RAL 6005
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#373f43")
											p.choose-item__text RAL 7016
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#4a3526")
											p.choose-item__text RAL 8014
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#a6a8a6")
											p.choose-item__text RAL 9006
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#f7fbf6")
											p.choose-item__text RAL 9016
								.tab-pane.fade.show(id="tab-2")
									p.choose-sub-title Стандартная
									ul.choose-items
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#e3d1b5")
											p.choose-item__text RAL 1015
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#701f29")
											p.choose-item__text RAL 3004
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#14447c")
											p.choose-item__text RAL 5010
										.choose-item.palette-item(data-type="color")
											.choose-item__color(data-color="#0e4336")
											p.choose-item__text RAL 6005
		section.consultation-section
			.container
				.row
					.col-12.col-lg-7
						.consultation-section__info(data-aos="clip-right")
							h2.consultation-section__title(data-aos="show-up-20" data-aos-delay="400") Нужна консультация?
							p.consultation-section__desc(data-aos="show-up-20" data-aos-delay="600") Наши консультанты помогут с выбором и назовут точную стоимость. Звоните:
							div(data-aos="show-up-20" data-aos-delay="600")
								a.consultation-section__phone(href="tel:+38 (096) 123 45 67")
									| +38 (096) 123 45 67
							button.custom-btn.inverse(type="button" data-toggle="modal" data-target="#feedback" data-aos="show-up-20" data-aos-delay="800")
								span Перезвоните мне
					.col-12.col-lg-5
						.consultation-section__image(data-aos="clip-right" data-aos-delay="400")
							img(src="/assets/images/default.jpeg" alt="consultation")
		section.sub-category-section
			.container
				.row
					.col-12.col-lg-6.p-0
						.sub-category__image(data-aos="clip-right")
							img(src="/assets/images/default.jpeg" alt="subcategory")
					.col-12.col-lg-6
						.sub-category__info
							h3.sub-category__title(data-aos="show-up-20" data-aos-delay="200") Уточнение границ земельного участка
							p.sub-category__desc(data-aos="show-up-20" data-aos-delay="400")
								| Для современного мира семантический разбор внешних противодействий является качественно новой ступенью
								| своевременного выполнения сверхзадачи. Для современного мира семантический разбор внешних противодействий
								| является качественно новой ступенью своевременного выполнения сверхзадачи.
							a.custom-btn.secondary(href="/sub-category.html" data-aos="show-up-20" data-aos-delay="600")
								span Подробнее
					.col-12.col-advantages
						.row
							each advantage, index in advantages
								.col-12.col-lg-3
									.advantage-card(data-aos="show-up-20" data-aos-delay=`${600 + (index * 200)}`)
										.advantage-card__icon
											img(src=advantage.icon alt=advantage.title)
										h4.advantage-card__title=advantage.title
										p.advantage-card__desc=advantage.desc
					.col-12.col-examples
						.row
							.col-12
								.row
									.col-12.col-lg-7
										h3.section-title(data-aos="show-up-20") Популярные готовые решения
									.col-12.col-lg-4.offset-lg-1
										p.section-sub-title(data-aos="show-up-20" data-aos-delay="200")
											| Для современного мира семантический разбор внешних противодействий является
											| качественно новой ступенью своевременного выполнения сверхзадачи.
							.col-12
								.slider-wrap
									.loader-wrap
										.loader
									.example-slider.slider(data-aos="show-up-20" data-aos-delay="400")
										each example, index in examples
											.slide.example-slide
												.example-inner-slider.slider
													each exampleImage in example.images
														.slide.example-inner-slide
															.example-card__image
																img(src=exampleImage alt="example")
												.example-card
													p.example-card__title=example.title
													p.example-card__desc=example.desc
													p.example-card__parameters=example.parameters
													button.custom-btn.secondary(type="button" data-toggle="modal" data-target="#feedback")
														span Узнать стоимость
									.slider-nav(data-aos="show-up-20" data-aos-delay="600")
										.slider-arrow.slider-arrow_prev
											span назад
										.slider-count
											p.slider-count__text.slider-count_current 1
											p.slider-count__text /
											p.slider-count__text.slider-count_total 2
										.slider-arrow.slider-arrow_next
											span далее
		section.sub-category-section
			.container
				.row
					.col-12.col-lg-6.p-0
						.sub-category__image(data-aos="clip-right")
							img(src="/assets/images/default.jpeg" alt="subcategory")
					.col-12.col-lg-6
						.sub-category__info
							h3.sub-category__title(data-aos="show-up-20" data-aos-delay="200") Уточнение границ земельного участка
							p.sub-category__desc(data-aos="show-up-20" data-aos-delay="400")
								| Для современного мира семантический разбор внешних противодействий является качественно новой ступенью
								| своевременного выполнения сверхзадачи. Для современного мира семантический разбор внешних противодействий
								| является качественно новой ступенью своевременного выполнения сверхзадачи.
							a.custom-btn.secondary(href="/sub-category.html" data-aos="show-up-20" data-aos-delay="600")
								span Подробнее
					.col-12.col-advantages
						.row
							each advantage, index in advantages
								.col-12.col-lg-3
									.advantage-card(data-aos="show-up-20" data-aos-delay=`${600 + (index * 200)}`)
										.advantage-card__icon
											img(src=advantage.icon alt=advantage.title)
										h4.advantage-card__title=advantage.title
										p.advantage-card__desc=advantage.desc
					.col-12.col-examples
						.row
							.col-12
								.row
									.col-12.col-lg-7
										h3.section-title(data-aos="show-up-20") Популярные готовые решения
									.col-12.col-lg-4.offset-lg-1
										p.section-sub-title(data-aos="show-up-20" data-aos-delay="200")
											| Для современного мира семантический разбор внешних противодействий является
											| качественно новой ступенью своевременного выполнения сверхзадачи.
							.col-12
								.slider-wrap
									.loader-wrap
										.loader
									.example-slider.slider(data-aos="show-up-20" data-aos-delay="400")
										each example, index in examples
											.slide.example-slide
												.example-inner-slider.slider
													each exampleImage in example.images
														.slide.example-inner-slide
															.example-card__image
																img(src=exampleImage alt="example")
												.example-card
													p.example-card__title=example.title
													p.example-card__desc=example.desc
													p.example-card__parameters=example.parameters
													button.custom-btn.secondary(type="button" data-toggle="modal" data-target="#feedback")
														span Узнать стоимость
									.slider-nav(data-aos="show-up-20" data-aos-delay="600")
										.slider-arrow.slider-arrow_prev
											span назад
										.slider-count
											p.slider-count__text.slider-count_current 1
											p.slider-count__text /
											p.slider-count__text.slider-count_total 2
										.slider-arrow.slider-arrow_next
											span далее
		section.sub-category-video-section
			.container
				h1.section-title(data-aos="show-up-20") Очень увлекательное видео
				.video-wrap(data-aos="show-up-20" data-aos-delay="200")
					iframe(src="https://www.youtube.com/embed/W7hAo28NCXc" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen)
		section.consultation-section
			.container
				.row
					.col-12.col-lg-7
						.consultation-section__info(data-aos="clip-right")
							h2.consultation-section__title(data-aos="show-up-20" data-aos-delay="400") Нужна консультация?
							p.consultation-section__desc(data-aos="show-up-20" data-aos-delay="600") Наши консультанты помогут с выбором и назовут точную стоимость. Звоните:
							div(data-aos="show-up-20" data-aos-delay="600")
								a.consultation-section__phone(href="tel:+38 (096) 123 45 67")
									| +38 (096) 123 45 67
							button.custom-btn.inverse(type="button" data-toggle="modal" data-target="#feedback" data-aos="show-up-20" data-aos-delay="800")
								span Перезвоните мне
					.col-12.col-lg-5
						.consultation-section__image(data-aos="clip-right" data-aos-delay="400")
							img(src="/assets/images/default.jpeg" alt="consultation")