html, body {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: $custom-black;
  font-family: "Proxima Nova Rg";
}

input, button, textarea, select, option {
  padding: 0;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent;
}

a, p {
  margin-bottom: 0;
  text-decoration: none !important;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  overflow: hidden;
}

section {
  position: relative;
}

img, svg {
  width: 100%;
  height: 100%;
  display: block;
}

.container, .container-fluid {
  z-index: 5;
  position: relative;
}

.slick-slide {
  outline: none !important;
}
